<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup</title>
</head>
<body>
<body id="body">
<h1 id="title" class="text">Setup du bot</h1>
<form id="form">
    <p id="tokenText" class="text">Token:</p> <input id="tokenField" type="text" >
    <br>
    <p id="nameText" class="text">Nom:</p> <input id="nameField" type="text" >
    <br>
    <p id="descText" class="text">Description:</p> <input id="descField" type="text" >
    <br>


</form>
<br>
<div class="container">
    <button id="submitButton" class="submit-button" >C'est Fini</button>
</div>



</body>
</html>